%h2 New Post

%canvas#drawing
.controls
  %button.brush.black.pixel Black Pixel
  %button.brush.white.pixel White Pixel
  %button.brush.black.circle.small Small Black Circle
  %button.brush.white.circle.small Small White Circle
  %button.brush.black.circle.large Large Black Circle
  %button.brush.white.circle.large Large White Circle
  %button.brush.black.square.large Large Black Square
  %button.brush.white.square.large Large White Square
  %button.black.clear Clear to Black
  %button.white.clear Clear to White

- @paper.posts.each do |post|
  .post
    = post.id
    = post.text

= form_for([@paper, @post], :html => {:id => :draw_form}) do |f|
  = f.hidden_field :pixels
  = f.submit 'Send'

:javascript
  $(document).ready(function() {
    var form = $('#draw_form');
      drawing.setPixels($('#post_pixels').val());

    form.submit(function() {
      try {
        var pixels = drawing.pixels();
        $('#post_pixels').val(pixels);
        return true;
      } catch(e) {
        console.log(e);
        return false;
      };
    });
  });
