<!DOCTYPE html>
<html>
<head>
  <title>Piccon</title>
  <%= include_stylesheets :screen, :media => 'all' %>
  <%= include_javascripts :screen %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%- if flash.notice -%>
    <p class="notice"><%= notice %></p>
  <%- end -%>
  <%- if flash.alert -%>
    <p class="alert"><%= alert %></p>
  <%- end -%>

<%= yield %>

</body>
</html>
